<nav>
  <div class="nav-wrapper">
    <a  class="brand-logo"> getHNews( )</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Updated on: <%= @fetch_time %></a></li>
    </ul>
  </div>
</nav>
